/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.travis.yml export-ignore
/package.xml export-ignore
/pear-package-helper.php export-ignore
/docs/examples export-ignore
/tests export-ignore
